<?xml version="1.0"?>
<configuration>


  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AbbCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="SimpleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AbbCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SimpleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <AbbCom.Properties.Settings>
      <setting name="SendHeartbeat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HeartbeatFrequency" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="VisionItemIDLimit" serializeAs="String">
        <value>600</value>
      </setting>
    </AbbCom.Properties.Settings>
    <SimpleApp.Properties.Settings>
      <setting name="SendHeartbeat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HeartbeatFrequency" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="VisionItemIDLimit" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="R1sendLocs" serializeAs="String">
        <value>True</value>
      </setting>
    </SimpleApp.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AbbCom.Properties.Settings>
      <setting name="R1ListenPort" serializeAs="String">
        <value>1776</value>
      </setting>
      <setting name="R2ListenPort" serializeAs="String">
        <value>1777</value>
      </setting>
      <setting name="R3ListenPort" serializeAs="String">
        <value>1778</value>
      </setting>
      <setting name="R4ListenPort" serializeAs="String">
        <value>1779</value>
      </setting>
      <setting name="R1ServerName" serializeAs="String">
        <value>R1</value>
      </setting>
      <setting name="R2ServerName" serializeAs="String">
        <value>R2</value>
      </setting>
      <setting name="R3ServerName" serializeAs="String">
        <value>R3</value>
      </setting>
      <setting name="R4ServerName" serializeAs="String">
        <value>R4</value>
      </setting>
    </AbbCom.Properties.Settings>
    <SimpleApp.Properties.Settings>
      <setting name="R1ListenPort" serializeAs="String">
        <value>1776</value>
      </setting>
      <setting name="R2ListenPort" serializeAs="String">
        <value>1777</value>
      </setting>
      <setting name="R3ListenPort" serializeAs="String">
        <value>1778</value>
      </setting>
      <setting name="R4ListenPort" serializeAs="String">
        <value>1779</value>
      </setting>
      <setting name="R1ServerName" serializeAs="String">
        <value>R1</value>
      </setting>
      <setting name="R2ServerName" serializeAs="String">
        <value>R2</value>
      </setting>
      <setting name="R3ServerName" serializeAs="String">
        <value>R3</value>
      </setting>
      <setting name="R4ServerName" serializeAs="String">
        <value>R4</value>
      </setting>
    </SimpleApp.Properties.Settings>
  </applicationSettings>
</configuration>
